{% extends 'dummy.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>display_profile</title>
    {% endblock %}
</head>
<body>
    {% block body_block %}
    <center>
        <h1>user name is {{uo.username}}</h1>
        <h1>email is{{uo.email}}</h1>
        <h1>address is {{po.address}}</h1>
        <h1>profile is {{po.profile_pic}}</h1>
        <img src="{{po.profile_pic.url}}" alt="No image" height="300px" width="300px">
    {% endblock %}
    </center>
    
</body>
</html>