{% extends 'dummy.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>forgot_password</title>
    {% endblock %}
</head>
<body>
    {% block body_block %}
    <center>
        <h1>Forgot_password</h1>
        <form method="POST">
            {% csrf_token %}

            <label for="pw">password</label>
            <input type="password" name="pw" id="pw"><br>
            
            <input type="submit" value="forgot_password" class="btn btn-warning">
        </form>
    </center>
    {% endblock %}

</body>
</html>