{% extends 'dummy.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>user_login</title>
    {% endblock %}
</head>
<body>
    {% block body_block %}
    <center>
        <h1>User_login</h1>
        <form method="POST">
            {% csrf_token %}

            <label for="username">username</label>
            <input type="text" name="username" id="usename"><br>

            <label for="password">password</label>
            <input type="password" name="password" id="password"><br>

            <input type="submit" value="user_login" class="btn btn-primary">
            
        </form>
    </center>
    {% endblock %}
</body>
</html>